.form-textarea {
  height: 155px;
  resize: none;
}

.form-textarea::-webkit-scrollbar {
  width: 12px; 
}

.form-textarea::-webkit-scrollbar-track {
  background: #333333;
}

.form-textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 4px solid #333333;
}