.overlay {
  background-color: #03122F;
  opacity: 0.76;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.dialog {
  z-index: 3;
  background-color: #03122F;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  border: 5px solid var(--secondary-color);
  border-radius: 15px;

}

.close {
  font-size: 36px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}


@media screen and (min-width: 576px) {
 .dialog {
    max-width: 865px;
    top: 100%;
 }

 .close {
    top: 25px;
    right: 30px;
  }
}