.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px !important;
  gap: 40px;
} 

.not-found>h1 {
  font-size: 45px;
  text-align: center;
}

.not-found>i {
  font-size: 100px;
  color: var(--danger);
}