.video-container {
  display: flex;
  flex-direction: column;
}

.video-info {
 padding: 0px 15px;
 font-size: 16px;
 line-height: 21px;
}

.video-info>h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 20px 0;
}

.video-info>p {
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
}

.video {
  padding-top: 50px;
  padding-bottom: 30px;
}

.video>iframe {
  width: 100%;
  height: calc(100vw / 2);
} 



@media screen and (min-width: 1025px)  {
  .video-container {
    flex-direction: row;
  }

  .video-info {
    padding: 30px;
    width: 40%;
  }

  .video-info>h1 {
    font-size: 40px;
    line-height: 44px;
  }

  .video-info>p {
    font-size: 18px;
    line-height: 21px;
  }

  .video {
    flex-grow: 1;
    padding: 30px;
  }

  .video>iframe {
    height: calc(100vw * 0.6 / 2);
  } 
}

/* 
.video-info {
  width: 30%;
  background-color: aqua;
}

.video {
  flex-grow: 1;
  display: flex;
  background-color: yellowgreen;
  min-height: calc(100vw * 0.7 / 2);
}

.video>iframe {
  height: 100%;
  width: 100%;
} */